
  .bodytext{
      background-color:rgb(18,18,44);
      justify-content: center;
      text-align: center;
      padding: ;
      font-size: 30px;
      color:white;
  }
  button{
    background-color:coral;
    color: aliceblue;
    border-color: coral;
  }
h1{
  color: white;
  font-weight: bold;
  font-size: 150%;
}


.rave{
  max-width: 50%;
  max-height: 20%;
  margin: 0 auto;
  display: block;
  box-sizing: border-box;
}
section{
  max-width: 50%;
  max-height: 20%;
  margin: 0 auto;
  display: block;
}
h2{
  color: white;
  font-size: 100%;
}